html {
  overscroll-behavior: contain;
}
.tablet-hero {
  display: none;
}
.hero-img {
  display: none;
}
.hero-section {
  position: relative;
  height: 90vh;
  top: 0;
}
.mobile-hero {
  height: 90vh;
  max-width: 100%;
  position: absolute;
  z-index: -1;
}
.hero-text-container {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 75%;
}
.headline {
  display: none;
}
.mobile-slogan {
  display: flex;
  flex-direction: column;
}
.m-beyond {
  font-size: 2.5rem;
  text-shadow: 1px 0.5px 4px rgba(0, 0, 0, 0.15);
  font-weight: 900;
  color: var(--mainGold);
}
.m-the {
  font-size: 1.75rem;
  font-weight: 200;
  color: #fff;
  z-index: -1;
  margin-block-start: -1rem;
}
.m-numbers {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--mainGreen);
  margin-block-start: -1rem;
  text-shadow: 1px 0.5px 2px rgba(0, 0, 0, 0.2);
}
.inside-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
  margin-inline-start: 5%;
  height: 55%;
  /* width: 100%; */
}
.phrase {
  font-weight: 300;
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 1.1rem;
  min-width: max-content;
}
.you,
.business {
  color: var(--mainGold);
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 1px 0.5px 2px rgba(0, 0, 0, 0.2);
}
.hero-link {
  margin-inline-start: 5%;
}
.hero-btn {
  color: #fff;
  width: max-content;
  margin-block-start: 1rem;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.25px;
  font-size: 1rem;
  padding: var(--ctaMobilePad);
  border-radius: var(--borderRadius);
  border: none;
  background: var(--btnGradient);
  box-shadow: var(--btnShadow);
}
.divider {
  width: 100vw;
  height: 20vh;
  position: absolute;
  bottom: -10vh;
  right: 0;
  background: var(--darkBoxGradient);
  clip-path: polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
}
/* !APPROACH SECTION */
.approach-svg {
  display: none;
}
.responsive-approach {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 2.75rem;
  color: var(--mainGrey);
}
.approach-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100vw;
  gap: 3rem;
  padding-block-start: 4rem;
  align-items: center;
}
.heading {
  max-width: 70%;
}
.summary {
  font-size: 0.9rem;
  align-items: center;
  max-width: 80%;
  line-height: 1.3;
  text-indent: 0.7rem;
  color: var(--mainGrey);
}
/* ! SERVICES SECTION */
.services-container {
  overflow-x: auto;
  /* overflow-y: hidden; */
  position: relative;
  background: transparent;
  height: 18rem;
}
.service-box-container {
  position: relative;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 73%;
  padding-inline: 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.services-box {
  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
  place-items: center;
  color: #fff;
  padding: 1rem;
  background: var(--boxGradient);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.2);
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}
.snaps-inline > * {
  scroll-snap-align: start;
}
.service-description {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 200;
}
.service-cta {
  text-decoration: none;
}
.service-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 0.25px;
  margin-top: 1.25rem;
  padding: var(--ctaMobilePad);
  border-radius: var(--borderRadius);
  border: none;
  background: var(--btnGradient);
  color: #fff;
  box-shadow: var(--btnShadow);
}
.arrow {
  margin-inline-start: 5px;
}
.service-backdrop {
  width: 100vw;
  height: 80%;
  position: absolute;
  bottom: 5%;
  left: 0;
  z-index: -1;
  background: hsla(0, 0%, 25%, 1);
  background: var(--greyGradient);
  background: -moz-linear-gradient(
    135deg,
    hsla(0, 0%, 25%, 1) 0%,
    hsla(0, 0%, 15%, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    hsla(0, 0%, 25%, 1) 0%,
    hsla(0, 0%, 15%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#404040", endColorstr="#262626", GradientType=1 );
}
.bracket-svg {
  display: none;
}
.testimonial-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
}
.quote-svg {
  display: none;
}
.mobile-quote {
  position: absolute;
  left: 2rem;
  transform: rotate(180deg);
}
.test-title {
  font-family: "Playfair Display";
  font-size: 2.5rem;
  font-style: italic;
  color: var(--mainGrey);
  margin-inline-start: 1rem;
  margin-block-start: 1.5rem;
  max-width: 100vw;
}
.test-box-container {
  position: relative;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 73%;
  padding: 1rem 1rem 3rem 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin-block-start: 2rem;
}
.test-box {
  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
}
.testimonial-inner {
  background: var(--testGradient);
  border-radius: var(--borderRadius);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.2);
  font-family: "Playfair Display";
  color: var(--mainGrey);
  font-size: 0.9rem;
  padding: 1rem;
}
.testimonial-text {
  text-indent: 7px;
}
.testimonial-author {
  font-family: "Playfair Display";
  font-size: 0.9rem;
  color: var(--mainGrey);
  font-style: italic;
  /* margin-inline-end: 10%; */
  justify-self: end;
  /* max-width: 100%; */
}
/*//*\\\\\\\\////////////////////////////////////*/
/* //!            780px MEDIA QUERY            */
/* //&\\\\\\\\//\\\\\\\\\\\\\\\\\\//////////////*/
@media screen and (min-width: 768px) {
  /* body {
    overflow-x: hidden;
  } */
  .mobile-hero {
    display: none;
  }
  .tablet-hero {
    display: block;
    width: 100%;
    height: 87vh;
    position: absolute;
    z-index: -1;
  }
  .hero-text-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.75fr 2fr 2fr;
  }
  .inside-hero-container {
    margin-block-start: 1rem;
    margin-inline-start: 10rem;
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-content: space-evenly;
    height: 90%;
  }
  .mobile-slogan {
    margin-inline-start: 0;
  }
  .m-beyond {
    font-size: 5rem;
  }
  .m-the {
    font-size: 3rem;
    margin-block-start: -1.85rem;
  }
  .m-numbers {
    font-size: 5rem;
    margin-block-start: -1.85rem;
  }
  .saying {
    margin-block-end: 0.5rem;
  }
  .phrase {
    font-size: 1.5rem;
  }
  .you,
  .business {
    font-size: 1.7rem;
    color: var(--mainGreen);
  }
  .hero-link {
    grid-row: 3;
    grid-column: 2;
    margin-inline-start: 10rem;
  }
  .hero-btn {
    padding: var(--ctaTabletPad);
    font-size: 1.2rem;
    margin-block-start: 1rem;
  }
  .divider {
    bottom: -10vh;
  }
  .approach-container {
    margin-block-start: 4rem;
  }
  .responsive-approach {
    font-family: "Playfair Display";
    font-style: italic;
    font-size: 3rem;
    color: var(--mainGrey);
  }
  .summary {
    max-width: 60%;
    font-size: 1rem;
  }
  .service-box-container {
    gap: 2rem;
    padding-inline: 2rem;
  }
  .services-container {
    height: 30rem;
  }
  .services-box {
    height: 22rem;
  }
  .service-description {
    font-size: 0.9rem;
    max-width: 70%;
  }
  .service-title {
    padding-block-start: 1rem;
    font-size: 1.5rem;
  }
  .services-link {
    padding: var(--ctaTabletPad);
    font-size: 1rem;
  }
  .arrow {
    margin-inline-start: 10px;
  }
  .services-link:hover {
    box-shadow: var(--hoverShadow);
  }
  .service-backdrop {
    height: 70%;
    bottom: 20%;
  }
  .mobile-quote {
    display: none;
  }
  /* .bracket-svg {
    display: inline-block;
    overflow-x: hidden;
    position: absolute;
    top: 5%;
    left: 30%;
    z-index: -1;
  } */
  .quote-svg {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
  }
  .test-title {
    font-family: "Playfair Display";
    font-size: 4.5rem;
    display: inline-block;
    max-width: 100vw;
    font-style: italic;
    color: var(--mainGrey);
    margin-inline-start: 5rem;
    margin-block-start: 4rem;
  }
  .test-box-container {
    grid-auto-columns: 56%;
    padding: 1rem 2rem 5rem 2rem;
    gap: 2rem;
  }
  .testimonial-inner {
    font-size: 1rem;
    padding: 2rem 1rem;
  }
  .testimonial-text {
    padding: 1rem;
  }
}
/*//*\\\\\\\\////////////////////////////////////*/
/* //!           1920px MEDIA QUERY            */
/* //&\\\\\\\\//\\\\\\\\\\\\\\\\\\//////////////*/
@media screen and (min-width: 1920px) {
  .mobile-slogan {
    display: none;
  }
  .tablet-hero {
    display: none;
  }
  .hero-section {
    height: 86vh;
  }
  .hero-img {
    display: block;
    height: 86vh;
    z-index: -1;
    position: absolute;
    width: 100%;
    opacity: 0;
    animation: appear 1s ease-in-out forwards;
  }
  @keyframes appear {
    to {
      opacity: 1;
    }
  }
  .hero-text-container {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    height: 90%;
  }
  .inside-hero-container {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin-block-start: 2rem;
    justify-content: space-evenly;
    height: 75%;
    gap: 2rem;
  }
  .headline {
    display: flex;
  }
  .beyond {
    font-size: 6rem;
    text-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.15);
    font-weight: 900;
    z-index: 2;
    color: var(--mainGreen);
  }
  .the {
    font-size: 3rem;
    margin-inline-start: -0.5rem;
    font-weight: 200;
    color: #fff;
  }
  .numbers {
    margin-inline-start: -0.5rem;
    color: var(--mainGold);
    text-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.15);
  }
  .saying {
    margin-block-start: -2rem;
  }
  .phrase {
    font-size: 2rem;
  }
  .you,
  .business {
    font-size: 2.2rem;
  }
  .hero-link {
    margin-block-start: -4rem;
  }
  .hero-btn {
    padding: var(--ctaPad);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .hero-btn:hover {
    box-shadow: var(--hoverShadow);
    opacity: 0.9;
  }
  .approach-svg {
    display: block;
  }
  .responsive-approach {
    display: none;
  }
  .approach-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin-block-start: 3rem;
  }
  .heading {
    max-width: 40%;
  }
  .summary {
    max-width: 20%;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-indent: 0;
  }
  .services-container {
    height: 30rem;
    width: 100vw;
  }
  .service-box-container {
    gap: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 70%;
  }
  .services-box {
    gap: 0;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    height: 95%;
  }
  .services-link {
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-block-start: 2rem;
    padding: var(--ctaPad);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .arrow {
    margin-inline-start: 10px;
  }
  .services-link:hover {
    box-shadow: var(--hoverShadow);
  }
  .service-backdrop {
    height: 70%;
    bottom: 20%;
  }
  .quote-svg {
    top: 1.5rem;
    left: 2rem;
    scale: 1.2;
  }
  .bracket-svg {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: -1;
  }
  .test-title {
    font-size: 6rem;
  }
  .test-box-container {
    justify-content: space-around;
    display: flex;
  }
  .test-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 25%;
  }
  .testimonial-inner {
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxShadow);
    margin-block-end: 2rem;
    transition: scale 0.4s ease-out;
  }
  .testimonial-inner:hover {
    scale: 1.05;
  }
  .testimonial-author {
    align-self: end;
    max-width: 100%;
    margin: 0;
    font-style: italic;
  }
}
