.index-container {
  width: 100%;
  position: relative;
}
.tablet-hero {
  display: none;
}
.hero-img {
  display: none;
}
.hero-section {
  position: relative;
  height: 90vh;
  margin-block-end: 7vh;
}
.hero-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
  z-index: -1;
}
.mobile-hero {
  height: 90vh;
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
}
.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 75%;
}
.headline {
  display: none;
}
.mobile-slogan {
  display: flex;
  flex-direction: column;
}
.m-beyond {
  font-size: 5vh;
  text-shadow: 1px 0.5px 4px rgba(0, 0, 0, 0.15);
  font-weight: 900;
  color: var(--mainGold);
}
.m-the {
  font-size: 3.5vh;
  font-weight: 200;
  color: var(--darkWhite);
  z-index: 1;
  margin-block-start: -1.25rem;
}
.m-numbers {
  z-index: 2;
  font-size: 5vh;
  font-weight: 900;
  color: var(--mainGreen);
  margin-block-start: -1.25rem;
  text-shadow: 1px 0.5px 2px rgba(0, 0, 0, 0.2);
}
.inside-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
  margin-inline-start: 5%;
  height: 55%;
}
.phrase {
  font-weight: 300;
  text-shadow: var(--textShadow);
  color: #fff;
  font-size: 2.5vh;
  min-width: max-content;
}
.you,
.business {
  color: var(--mainGold);
  font-size: 2.65vh;
  font-weight: 400;
  text-shadow: 1px 0.5px 2px rgba(0, 0, 0, 0.2);
}
.hero-link {
  margin-inline-start: 5%;
}
.hero-btn {
  color: #fff;
  width: max-content;
  margin-block-start: 1rem;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.25px;
  font-size: 1rem;
  font-family: var(--sansFont);
  font-weight: 600;
  letter-spacing: 0.75px;
  padding: var(--ctaMobilePad);
  border-radius: var(--borderRadius);
  border: 0;
  background: var(--btnGradient);
  box-shadow: var(--btnShadow);
}
.divider {
  width: 100%;
  height: 20vh;
  position: absolute;
  bottom: -10vh;
  right: 0;
  background: var(--darkBoxGradient);
  clip-path: polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
}
.service-divider {
  background: var(--testGradient);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
  height: 25vh;
  width: 100%;
}
/* ! MOBILE SERVICES SECTION */
.carousel-component {
  display: none;
}
/* !  MOBILE APPROACH SECTION */
.approach-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100vw;
  gap: 1rem;
  margin-block: 8vh 20vh;
  align-items: center;
}
.approach-title {
  font-family: var(--serifFont);
  font-style: italic;
  font-size: 3rem;
  font-weight: 200;
  width: fit-content;
  color: var(--lightGrey);
  margin-inline-start: -4rem;
  margin-block-end: 2vh;
  text-shadow: var(--textShadow);
}
.summary {
  font-family: var(--serifFont);
  font-size: 0.9rem;
  font-weight: 200;
  align-items: center;
  width: 80%;
  text-indent: 0.7rem;
  color: var(--mainGrey);
  margin-block: .75rem;
}
/*//*\\\\\\\\////////////////////////////////////*/
/* //!            768px MEDIA QUERY            */
/* //&\\\\\\\\//\\\\\\\\\\\\\\\\\\//////////////*/
@media screen and (min-width: 768px) {
  .mobile-hero {
    display: none;
  }
  .hero-section {
    height: 87vh;
  }
  .tablet-hero {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
    z-index: -5;
  }
  .hero-text-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.75fr 2fr 2fr;
  }
  .inside-hero-container {
    margin-block-start: 1rem;
    margin-inline-start: 10rem;
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-content: space-evenly;
    height: 90%;
  }
  .mobile-slogan {
    margin-inline-start: 0;
  }
  .m-beyond {
    font-size: clamp(3rem, 8vw, 6rem);
    z-index: 2;
  }
  .m-the {
    z-index: 1;
    font-size: clamp(2.25rem, 3vh, 4rem);
    margin-block-start: -1.6rem;
    margin-inline-start: 0.5rem;
  }
  .m-numbers {
    z-index: 0;
    font-size: clamp(3rem, 8vw, 6rem);
    margin-block-start: -1.6rem;
  }
  .saying {
    margin-block-end: 0.5rem;
  }
  .you,
  .business {
    font-size: 1.7rem;
    color: var(--mainGreen);
  }
  .hero-link {
    grid-row: 3;
    grid-column: 2;
    margin-inline-start: 10rem;
  }
  .hero-btn {
    padding: var(--ctaTabletPad);
    font-size: 1.2rem;
    margin-block-start: 1rem;
  }

  /* ! 768px APPROACH SECTION */
  .approach-container {
    height: 35vh;
  }
  .approach-title {
    font-size: 5rem;
    width: fit-content;
  }
  .summary {
    font-size: 1.3rem;
    width: 80%;
  }
}
/*//*\\\\\\\\////////////////////////////////////*/
/* //!           1440px MEDIA QUERY            */
/* //&\\\\\\\\//\\\\\\\\\\\\\\\\\\//////////////*/
@media screen and (min-width: 1440px) {
  .hero-section {
    height: 83vh;
  }
  .hero-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    );
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
  }
  .tablet-hero {
    display: none;
  }
  .mobile-slogan {
    display: none;
  }
  .hero-img {
    display: block;
    height: 100%;
    z-index: -1;
    position: absolute;
    width: 100%;
    opacity: -5vh;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
    animation: appear 1s ease-in-out forwards;
  }
  @keyframes appear {
    to {
      opacity: 1;
    }
  }
  .hero-text-container {
    height: 90%;
  }
  .inside-hero-container {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin-block-start: 2rem;
    justify-content: space-evenly;
    height: 75%;
    gap: 2rem;
  }
  .headline {
    display: flex;
  }
  .beyond {
    font-size: clamp(5rem, 5vw, 6.5rem);
    text-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.15);
    font-weight: 900;
    z-index: 2;
    color: var(--mainGreen);
  }
  .the {
    font-size: clamp(2rem, 2.2vw, 3.5rem);
    margin-inline-start: -0.5rem;
    font-weight: 200;
    color: #fff;
  }
  .numbers {
    margin-inline-start: -0.5rem;
    color: var(--mainGold);
    text-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.15);
  }
  .saying {
    margin-block-start: -2rem;
  }
  .phrase {
    font-size: 2.25rem;
  }
  .you,
  .business {
    font-size: 2.4rem;
  }
  .hero-link {
    margin-block-start: -4rem;
  }
  .hero-btn {
    padding: var(--ctaPad);
    font-size: 1.2rem;
    /* cursor: pointer; */
    transition: all 0.2s ease-in-out;
  }
  .hero-btn:hover {
    box-shadow: var(--hoverShadow);
    opacity: 0.9;
  }

  /* ! 1440 SERVICES SECTION */
  .carousel-component {
    display: none;
  }
  .service-scroller-component {
    display: block;
  }
  /* ! 1440 APPROACH SECTION */
  .approach-container {
    align-items: center;
    justify-content: space-evenly;
    margin-block: 6rem;
  }
  .approach-title {
    font-size: 7rem;
    margin-inline-start: -12vw;
    width: fit-content;
    margin-block-end: 5vh;
  }
  .heading {
    max-width: 40%;
  }
  .summary {
    width: 60%;
    font-size: 1.2rem;
  }
}
/*//*\\\\\\\\////////////////////////////////////*/
/* //!           1920px MEDIA QUERY            */
/* //&\\\\\\\\//\\\\\\\\\\\\\\\\\\//////////////*/
@media screen and (min-width: 1920px) {
  .hero-section {
    height: 86vh;
  }
  .summary {
    width: 35%;
  }
}
