.service-box {
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 77%;
  height: 100%;
  color: hsl(0, 0%, 84%);
  padding-inline: 1rem;
  margin-inline: 1rem;
  border-radius: 6px;
  background: var(--boxGradient);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.2);
}
.service-name {
  font-family: var(--serifFont);
  font-weight: 300;
  font-size: 1.5rem;
}
.service-img {
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  max-width: 80%;
  height: 50%;
  opacity: 0.6;
  
}
.service-description {
  font-family: var(--serifFont);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 200;
}
/*//*\\\\\\\\////////////////////////////////////*/
/* //!            768px MEDIA QUERY            */
/* //&\\\\\\\\//\\\\\\\\\\\\\\\\\\//////////////*/
@media screen and (min-width: 768px) {
  .service-box {
    min-width: 60%;
    justify-content: space-evenly;
  }
  .service-name {
    font-size: 2rem;
  }
  .service-img {
    max-width: 70%;
    height: 40%;
  }
  .service-description {
    letter-spacing: 0.25px;
    font-size: 1rem;
    width: 80%;
  }
}
/*//*\\\\\\\\////////////////////////////////////*/
/* //!            1440px MEDIA QUERY            */
/* //&\\\\\\\\//\\\\\\\\\\\\\\\\\\//////////////*/
@media screen and (min-width: 1440px) {
  .service-box {
    min-width: 30%;
    transition: all 0.4s ease-in-out;
  }
  .service-description {
    width: 80%;
  }
  .service-img {
    height: 50%;
    transition: all 0.4s ease-in-out;
  }
  .service-box:hover .service-img {
  opacity: .9;
  box-shadow: 7px 7px 10px 6px rgba(0, 0, 0, 0.2);
}
}
/*//*\\\\\\\\////////////////////////////////////*/
/* //!            1920px MEDIA QUERY            */
/* //&\\\\\\\\//\\\\\\\\\\\\\\\\\\//////////////*/
@media screen and (min-width: 1920px) {
  .service-box {
    min-width: 25%;
    width: 30%;
  }
  .service-description {
    font-family: var(--sansFont);
    font-size: .95rem;
    /* font-weight: 300; */
  }
}