.component-container {
  width: 100vw;
  margin-block: 10vh;
}
.service-title {
  color: var(--lightGrey);
  font-family: var(--serifFont);
  font-weight: 400;
  font-size: 3rem;
  margin-block: 2rem 1rem;
  margin-inline-start: 1rem;
  text-shadow: var(--textShadow);
}
.service-scroller {
  overflow-y: hidden;
  position: relative;
  width: 100vw;
  padding-block-end: 5vh;
}
.service-scroller::after {
  content: "";
  background: var(--grayGradient);
  position: absolute;
  inset: 0;
  translate: 0 10vh;
  z-index: -1;
}
.service-box-container {
  display: flex;
  align-items: center;
  height: 50vh;
  padding-inline: 1rem;
  margin-block-start: 0vh;
  overflow-x: auto;
  overscroll-behavior: contain;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}
.snaps-inline > * {
  scroll-snap-align: start;
}
.service-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 77%;
  overflow-y: hidden;
  width: 70%;
  height: 85%;
  justify-content: space-between;
  align-items: center;
  color: var(--darkWhite);
  padding: 1rem;
  margin-inline: 1rem;
  border-radius: var(--borderRadius);
  background: var(--boxGradient);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.2);
}
.service-name {
  font-family: var(--serifFont);
  font-weight: 400;
  font-size: 1.2rem;
}
.service-description {
  font-family: var(--serifFont);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  /* width: 90%; */
}
.service-link-container {
  margin-block-start: -3vh;
  display: flex;
  justify-content: center;
}
.service-link {
  text-decoration: none;
}
.service-btn {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--ctaMobilePad);
  background: var(--btnGradient);
  border: 0;
  border-radius: var(--borderRadius);
  color: var(--textLight);
  box-shadow: var(--btnShadow);
}
.arrow {
  margin-inline-start: 5px;
}
@media screen and (min-width: 1440px) {
  .service-title {
    font-size: 7rem;
    margin-inline-start: 3.5vw;
  }
  .service-description {
    min-width: 90%;
  }
  .service-box-container {
    justify-content: space-evenly;
  }
  .service-box {
    min-width: 0;
    width: 28%;
    padding: 2rem;
  }
  .service-btn {
    padding: var(--ctaPad);
    font-size: 1.1rem;
    transition: all 300ms ease-in-out;
  }
  .service-btn:hover {
    box-shadow: var(--hoverShadow);
  }
  .arrow {
    margin-inline-start: 15px;
  }
}
