.testimonial-component {
  position: relative;
  margin-block-end: 5vw;
}
.testimonial-header {
  height: 30vw;
  display: flex;
}
.testimonial-header::after {
  content: "";
  background: var(--rdTestGradient);
  clip-path: polygon(0 0, 100% 25%, 100% 70%, 0% 100%);
  height: 35%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.desktop-quote,
.mobile-quote {
  position: absolute;
}
.desktop-quote {
  left: 1vw;
  top: -2vh;
}
.testimonial-title {
  margin-block-start: 7vh;
  margin-inline-start: 5vw;
  font-size: 2.5rem;
  font-family: var(--serifFont);
  font-weight: 200;
  color: var(--lightGrey);
  min-width: max-content;
  text-shadow: var(--textShadow);
}
.testimonial-scroll-container {
  position: relative;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 73%;
  place-items: center;
  padding: 10vw 10vw 0 10vw;
  background: transparent;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}
.snaps-inline > * {
  scroll-snap-align: start;
}
.testimonial-box-container {
  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
  font-size: 0.9rem;
}
.testimonial-box {
  padding:  2vh;
  border-radius: var(--borderRadius);
  background: var(--rdGradient);
  box-shadow: var(--hoverShadow);
}

.testimonial-text {
  color: var(--xLightGrey);
  font-family: var(--serifFont);
  font-weight: 200;
  font-size: .9rem;
  text-align: center;
  padding: 1vw;
}
.testimonial-author {
  color: var(--mainGrey);
  font-family: var(--serifFont);
  font-weight: 200;
  font-style: italic;
  justify-self: flex-end;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .desktop-quote {
    left: 8vw;
    top: 2vh;
  }
  .testimonial-title {
    font-size: 5rem;
  }
  .testimonial-scroll-container {
    grid-auto-columns: 53%;
    gap: 3vw;
  }
  .testimonial-text {
    font-size: 1rem;
  }
    .testimonial-author {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .desktop-quote {
    left: 4vw;
  }
  .testimonial-header {
    height: 20vh;
  }
  .testimonial-scroll-container {
    overflow-x: hidden;
    grid-auto-columns: 30%;
    gap: 5vw;
    place-content: center;
  }
  .testimonial-box {
    place-content: center;
    padding: 2vw;
    transition: all .25s linear;
  }
  .testimonial-box:hover {
    scale: 1.02;
  }
}
/*//*\\\\\\\\////////////////////////////////////*/
/* //!            1920px MEDIA QUERY            */
/* //&\\\\\\\\//\\\\\\\\\\\\\\\\\\//////////////*/
@media screen and (min-width: 1920px) {
  .testimonial-title {
    font-size: 7rem;
  }
  .testimonial-text {
    line-height: 1.25;
  }
}
