.testimonial-component {
  position: relative;
  height: 60vh;
  margin-block-end: 10vh;
}
.testimonial-header {
  height: 25vh;
  display: flex;
}
.testimonial-header::after {
  content: "";
  background: var(--rdTestGradient);
  clip-path: polygon(0 0, 100% 25%, 100% 70%, 0% 100%);
  height: 35%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.desktop-quote,
.mobile-quote {
  position: absolute;
}
.desktop-quote {
  left: 1vw;
  top: -2vh;
}
.testimonial-title {
  margin-block-start: 7vh;
  margin-inline-start: 5vw;
  font-size: 2.5rem;
  font-family: var(--serifFont);
  font-weight: 200;
  color: var(--lightGrey);
  width: max-content;
  text-shadow: var(--textShadow);
}
.testimonial-scroll-container {
  position: relative;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 73%;
  place-items: center;
  padding: 1rem 1rem 0 1rem;
  max-height: 40vh;
  background: transparent;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}
.snaps-inline > * {
  scroll-snap-align: start;
}
.testimonial-box-container {
  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
  font-size: 0.9rem;
}
.testimonial-box {
  padding: 0.5rem;
  border-radius: var(--borderRadius);
  background: var(--rdGradient);
  box-shadow: var(--hoverShadow);
}
.testimonial-text {
  color: var(--xLightGrey);
  font-family: var(--serifFont);
  font-weight: 200;
  text-align: center;
}
.testimonial-author {
  color: var(--mainGrey);
  font-family: var(--serifFont);
  font-weight: 200;
  font-style: italic;
  justify-self: flex-end;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .desktop-quote {
    left: 8vw;
    top: 2vh;
  }
  .testimonial-title {
    font-size: 5rem;
  }
  .testimonial-scroll-container {
    grid-auto-columns: 56%;
    height: 60vh;
    gap: 2rem;
  }
  .testimonial-box {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
  }
  .testimonial-text {
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
  }
    .testimonial-author {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .desktop-quote {
    left: 4vw;
  }
  .testimonial-scroll-container {
    overflow: hidden;
    grid-auto-columns: 25%;
    gap: 8vw;
    place-content: center;
    overscroll-behavior-inline: contain;
  }
  .snaps-inline {
    scroll-snap-type: none;
    scroll-padding-inline: 0;
  }
  .snaps-inline > * {
    scroll-snap-align: 0;
  }
  .testimonial-box {
    place-content: center;
    padding: 2rem 0rem;
  }
  .testimonial-title {
    font-size: 7rem;
  }
  .testimonial-text {
    width: 90%;
  }
}
