@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* !  COLORS */
  --mainGreen: #315c2b;
  --mainGold: hsl(38, 33%, 58%);
  --opacityGold: hsla(38, 33%, 58%, 0.615);
  --mainGrey: #565656;
  --lightGrey: #777777;
  --xLightGrey: #b7b7b7;
  --darkWhite: hsl(0, 0%, 84%);
  --darkGrey: #333333;
  --lightBlue: rgb(209, 224, 224, 0.5);
  --bodyBG: hsl(38, 58%, 90%, 1);
  --textLight: #eeeeee;
  --darkBlue: rgb(32, 49, 57);

  --greyGradient: -webkit-linear-gradient(
    left,
    hsl(0, 0%, 46%),
    hsl(0, 0%, 18%)
  );
  --svgLight: #e5fffd;
  --mozGradient: -moz-linear-gradient(top left, #f0f5f5, #a3c1c8);
  --webkitGradient: -webkit-linear-gradient(top left, #f0f5f5, #9ebbc2);
  --bgGradient: linear-gradient(145deg, #f0f5f5, #b5e2ed);
  --rdGradient: radial-gradient(circle at center, hsla(198, 33%, 20%, 0.85), hsla(198, 35%, 21%, 1));
  --boxGradient: linear-gradient(
    135deg,
    hsla(198, 33%, 10%, 0.95) 0%,
    hsla(198, 35%, 31%, 0.95) 100%
  );
  --darkBoxGradient: linear-gradient(
    180deg,
    hsla(198, 33%, 10%, 1) 0%,
    hsla(198, 35%, 31%, 1) 100%
  );
  --lightBoxGradient: linear-gradient(
    135deg,
    hsla(198, 33%, 10%, 0.45) 0%,
    hsla(198, 35%, 31%, 0.65) 100%
  );
  --footerGradient: linear-gradient(
    135deg,
    hsla(198, 33%, 10%) 0%,
    hsla(198, 35%, 31%) 100%
  );
  --testGradient: linear-gradient(
    155deg,
    hsl(38, 58%, 65%, 0.2),
    hsl(38, 58%, 45%, 0.7)
  );
  --rdTestGradient: radial-gradient(
    circle at center,
    hsl(38, 58%, 45%, 0.5),
    hsl(38, 58%, 55%, 0.2)
  );
  --btnGradient: linear-gradient(
    140deg,
    rgb(181, 132, 48) 0%,
    var(--mainGold) 100%
  );
  --hoverGradient: linear-gradient(
    140deg,
    hsl(38, 58%, 55%) 0%,
    hsl(38, 33%, 63%) 100%
  );
  --greenBoxGradient: linear-gradient(
    135deg,
    hsl(129, 28%, 7%) 0%,
    hsl(130, 29%, 17%) 100%
  );
  --grayGradient: linear-gradient(
    135deg,
    hsla(0, 0%, 25%, 1) 0%,
    hsla(0, 0%, 15%, 1) 100%
  );
  /* !  FONTS */
  /* --serifFont: 'Playfair Display'; */
  /* --serifFont: 'IBM Plex Serif', serif; */
  /* --serifFont: 'Noto Serif Display', serif; */
  --serifFont: 'EB Garamond', serif;
  --sansFont: 'Inter', sans-serif;

  /* !  SIZES */
  --ctaMobilePad: .75rem 1.25rem;
  --ctaTabletPad: 1.5rem 1.5rem;
  --ctaPad: 1.25rem 2.25rem;
  --borderRadius: 6px;

  /* !  SHADOWS */
  --btnShadow: 0 0.5px 10px rgba(0, 0, 0, 0.05), 1px 1px 10px rgba(0, 0, 0, 0.1);
  --hoverShadow: 10px 5px 10px rgba(0, 0, 0, 0.1),
    1px 1px 10px rgba(0, 0, 0, 0.1);
  --boxShadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.01),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.03),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.035),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.04), 75px 75px 80px rgba(0, 0, 0, 0.05);
    --mobileBoxShadow: 0.9px 1px 1.3px -5px rgba(0, 0, 0, 0.01),
      2px 2.4px 2.9px -5px rgba(0, 0, 0, 0.014),
      3.6px 4.3px 5.2px -5px rgba(0, 0, 0, 0.017),
      5.9px 7.1px 8.7px -5px rgba(0, 0, 0, 0.02),
      9.8px 11.6px 14.3px -5px rgba(0, 0, 0, 0.024),
      17.1px 20.3px 25px -5px rgba(0, 0, 0, 0.029),
      37px 44px 54px -5px rgba(0, 0, 0, 0.04);
    --textShadow: 1px 0.5px 2px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--darkWhite);
  height: 100%;
  width: 100%;
}
