.layout {
  font-family: "Inter";
  height: 100vh;
}
.header {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  box-shadow: 0 1px 20px 10px rgba(0, 0, 0, 0.1);
}
.mobile-logo {
  margin-inline-start: 1rem;
}
.desktop-logo {
  display: none;
}
.burger {
  display: block;
  height: 25px;
  margin-inline-end: 1rem;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--mainGrey);
  margin: 4px;
}
.nav {
  position: absolute;
  top: 10vh;
  right: 0;
  background-color: hsl(38, 58%, 0%, .4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: 91vh;
  align-items: center;
  justify-content: space-evenly;
  width: 55%;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
}
.nav-active {
  transform: translateX(0);
  opacity: 1;
}
.nav__link {
  text-decoration: none;
  color: hsl(38, 58%, 90%, .85);
  font-size: 0.8rem;
  letter-spacing: 1px;
  transition: all 0.15s ease-in-out;
}
/*  //! FOOTER SECTION */
.footer-container {
  position: relative;
  width: 100vw;
  height: 35vh;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  padding-inline: 1rem;
  font-size: 0.8rem;
  place-items: center;
  gap: 2rem;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  /* background: var(--greenBoxGradient); */
  background: var(--footerGradient);
}
.footer-logo {
  display: none;
}
.footer-about {
  display: none;
}
.f-title {
  color: var(--mainGold);
  font-weight: 500;
  font-size: 0.8rem;
}
.footer-contact {
  grid-row: 1 / span 3;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #fff;
}
.f-contact-top,
.f-contact-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.f-contact-title {
  margin-block-end: 0.5rem;
}
.f-phone,
.f-email,
.f-address {
  font-size: 0.8rem;
  font-weight: 200;
}
.copyright {
  grid-row: 3;
  grid-column: 1 / span 3;
  font-size: 0.6rem;
  color: #777777;
  margin-block-end: 0.5rem;
}
/*//*\\\\\\\\////////////////////////////////////*/
/* //           ! TABLET MEDIA QUERY            */
/* //&\\\\\\\\//\\\\\\\\\\\\\\\\\\//////////////*/
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
  .desktop-logo {
    display: block;
    margin-inline-start: 1rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    min-height: 13vh;
    box-shadow: 0 1px 10px 10px rgba(0, 0, 0, 0.2);
  }
  .nav {
    flex-direction: row;
    position: static;
    transform: translateX(0);
    background-color: transparent;
    width: 60%;
    height: auto;
    justify-content: space-around;
  }
  .nav__link {
    opacity: 1;
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
    display: block;
    position: relative;
  }
  .nav__link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--lightGrey);
    transition: width 0.25s ease-in-out;
  }
  .nav__link:hover::after {
    width: 100%;
  }
  .nav__active {
    color: var(--mainGrey);
    font-weight: 600;
    position: relative;
  }
  .nav__active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 0px;
    background: var(--mainGrey);
  }
  .footer-logo {
    display: block;
    grid-row: 2/3;
    grid-column: 1;
  }
  .footer-about {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 75%;
    max-width: 90%;
    justify-self: center;
    align-items: flex-start;
    justify-content: space-around;
  }
  .f-about-content {
    text-indent: 10px;
    font-weight: 200;
  }
  .f-title {
    color: var(--mainGold);
    font-weight: 600;
    font-size: 0.9rem;
  }
  .f-about-link {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.75px;
  }
  .f-about-link:hover {
    color: var(--mainGold);
  }
  .footer-contact {
    grid-row: 2/3;
    grid-column: 3;
    line-height: 1.5;
  }
  .f-contact-top {
    margin-block-end: 2rem;
  }
  .f-contact-title {
    margin-block-end: 1rem;
  }
  .copyright {
    font-size: 0.7rem;
  }
}
/*//*\\\\\\\\////////////////////////////////////*/
/* //           ! 1440px MEDIA QUERY            */
/* //&\\\\\\\\//\\\\\\\\\\\\\\\\\\//////////////*/
@media screen and (min-width: 1440px) {
}
/*//*\\\\\\\\////////////////////////////////////*/
/* //           ! 1920px MEDIA QUERY            */
/* //&\\\\\\\\//\\\\\\\\\\\\\\\\\\//////////////*/
@media screen and (min-width: 1920px) {
  .header {
    min-height: 14vh;
  }
  .footer-about {
    max-width: 50%;
  }
  .copyright {
    grid-column: 1;
  }
}
